@charset "ISO-8859-1";
html{
  background-image: url("./images/background.jpg");
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  background-color:black !important;
  background-repeat:no-repeat; 

  
}
body {
    background-color: transparent !important;
}


.login {    
      
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;    
    width: 600px;
    margin-left: auto !important;
    margin-right: auto !important; 
    background-color: rgb(0 0 0 / 51%) !important;
    margin-top:4rem !important;

}

h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
}

.form {
    padding-top: 20px;
}

.input {
width: 80%;
margin-left: 10%;
margin-bottom: 25px;
height: 40px;
border-radius: 5px;
outline: 0;
}
      
.input-b {
border: 1px solid #bbb;
padding: 0 0 0 10px;
font-size: 14px;
}
    
    
a {
    text-align: center;
    font-size: 10px;
    color: #3498db;
    }
    
p{
    padding-bottom: 10px;
    }   
    
.button-login {
    background:#960e21;
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
    text-align: center;
    }
    

button:hover {
    box-shadow: 1px 1px 5px #555;  
    }

.nav {
    margin: 1rem; 
    padding: 3rem !important;  

} 
.nav-usuarios {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.3rem;
    color:white;
    background-color: transparent !important;
    border-radius: 7px;
}

.grid-nav{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 25% 75%;
}

.grid-nav > #side-nav{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.grid-nav > #side-nav > button{
    background-color: transparent;
    color: white;
    border:none;
    padding: .5rem;
    font-size: 2rem;
}
li {
    display: inline;
  }

.btn-delete {
    max-width: 80px;
    text-align: center;
  }
 
.table-usu{
    width: 800px;
    margin-left: auto !important;
    margin-right: auto !important; 
    background-color: rgb(0 0 0 / 51%) !important;
    margin-top:5rem !important;
}

.align{
    text-align: center;
}

.font-size{
    font-size: 0.8rem;
}

.btn-nav {
    color:white !important;
    background-color: transparent;
}


.label-color {
    color:white !important;
    text-align: center;
}

.btn-i {
    align-items: center; 
    margin-left: 14rem !important;  
}
  
.login-ventas {
    width: 57rem;
    margin-left: auto !important;
    margin-right: auto !important; 
    background-color: rgba(255, 255, 255, 0.664) !important;
    margin-top:2rem !important;
}

.icon{
    width: 80px;
}

.icon-t{
    width: 50px;
}

.content{
    justify-content: center;
    margin-left: 2.5rem;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 12%;
    margin-bottom: 2rem;
    
}

th {
    border: 1px solid #a3a3a3 !important;
    padding: 5px 10px;
    text-align: center;
    background-color:#960e21 ;
    font-size: 1rem;
    width: 20%;
}
td {
    border: 1px solid #a3a3a3 !important;
    padding: 5px 10px;
    text-align: center;
    background-color: white ;
    height: 2rem;

}
.input-ventas {
   margin-left: 56%;
   margin-top: 1rem;
}

.footer-w{
    background-color: rgba(0, 0, 0, 0.452);
    min-height: 200px;
    margin-top: 10%;
}

.link-reportes {
    width: 200px !important;
    text-decoration: none;
}